sudo: required
dist: xenial

# Don't do shallow clones
git:
  depth: false

os:
  - osx
  - linux

language: csharp
mono: none
env:
  global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1
    - DOTNET_CLI_TELEMETRY_OPTOUT=1
    - COMPlus_UseManagedHttpClientHandler=true

# minikube-related changes
    - CHANGE_MINIKUBE_NONE_USER=true
    - MINIKUBE_WANTREPORTERRORPROMPT=false
    - MINIKUBE_WANTUPDATENOTIFICATION=false
    - KUBECONFIG=/home/travis/.kube/config

# We need the .NET Core 2.1 SDK to build. Travis doesn't know how to install this yet.
before_install:
  - ./install-$TRAVIS_OS_NAME.sh

script:
# Make NB.GV recognize the branch we're building, by setting environment variables.
  - export BUILD_SOURCEBRANCH=${TRAVIS_BRANCH}
  - export SYSTEM_TEAMPROJECTID=${TRAVIS_BUILD_ID}
  - ./ci.sh

after_script:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then ./integration-tests.sh; fi

# deploy:
#   skip_cleanup: true
#   provider: script
#   script: dotnet nuget push src/KubernetesClient/bin/Release/KubernetesClient.*.nupkg --api-key $NUGET_API_KEY --source $NUGET_SOURCE
#   on:
#     branch: master
#     condition: '"x${NUGET_API_KEY}" != "x" && "x$NUGET_SOURCE" != "x" && "$TRAVIS_OS_NAME" == "linux"'
