name: Docfx

on:
  push:
    branches: [ master ]

jobs:
  docfx:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}    
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
          3.1.x
          5.0.x
          6.0.x

    - name: Build
      run: dotnet build

    - uses: nikeee/docfx-action@v1.0.0
      name: Build Documentation
      with:
        args: doc/docfx.json

    - name: Setup Pages
      uses: actions/configure-pages@v2
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v1
      with:
        # Upload entire repository
        path: doc/_site
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v1
